<%= turbo_frame_tag :competition_journeys do %>
  <% if @journeys.empty? %>
    <p>No Journeys Added Yet. <%= link_to "Add Journey", new_competition_journey_path, class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %></p>
  <% else %>
    <div class="divide-y divide-gray-200">
      <% @journeys.each do |journey| %>
        <div class="pb-4">
          <h2 class="text-md font-medium text-gray-900"><%= journey.happening_at %></h2>
          <%= turbo_frame_tag "j_#{journey.id}_trials", src: journey_trials_path(journey) %>
        </div>
      <% end %>
    </div>
    <div class="pt-6">
      <%= link_to "Add Journey", new_competition_journey_path, class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  <% end %>
<% end %>