<%= turbo_frame_tag :competition_journeys do %>
  <%= form_with url: competition_journeys_path, method: :post do |form| %>
    <%= form.hidden_field :competition_id, :value => params[:competition_id] %>
    <%= form.hidden_field :journey_id, :value => @journey_id %>
    <div class="pt-2">
      <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium text-gray-700">
            Date
          </label>
          <div class="mt-1">
            <%= form.date_field :date, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-800 px-3 py-2 rounded-md", required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="flex justify-start">
        <%= link_to "Cancel", competition_journeys_path(params[:competition_id]), class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= form.submit "Add", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  <% end %>
<% end %>