<% content_for(:header) do %>
  Dogs
<% end %>

<% content_for(:actions) do %>
  <%= link_to 'New Dog', new_dog_path, class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Name</th>
    </tr>
  </thead>

  <tbody>
  <% @dogs.each do |dog| %>
    <tr class="border-t">
      <td class="py-2"><%= dog.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
