<div class="py-8 xl:py-10">
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 xl:max-w-5xl xl:grid xl:grid-cols-3">
    <div class="xl:col-span-2 xl:pr-8 xl:border-r xl:border-gray-200">
      <div>
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:pb-6">
            <div>
              <h1 class="text-2xl font-bold text-gray-900"><%= @competition.name %></h1>
              <p class="mt-2 text-sm text-gray-500">
                Open
              </p>
            </div>
            <div class="mt-4 flex space-x-3 md:mt-0">
              <button type="button" class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                <!-- Heroicon name: solid/pencil -->
                <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
                <span>Edit</span>
              </button>

              <%= link_to "Public View", p_competition_path(@competition.id), class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>

              <% unless @competition.status == "Published" %>
                <%= link_to publish_competition_path(@competition.id),
                  {
                    data: { "turbo-method": :post },
                    class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                  } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                    </svg>
                    <span>Publish</span>
                <% end %>
              <% end %>
            </div>
          </div>
          <aside class="mt-8 xl:hidden">
            <h2 class="sr-only">Details</h2>
            <div class="space-y-5">
              <div class="flex items-center space-x-2">
                <% if @competition.status == "Draft" %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                  </svg>
                  <span class="text-yellow-700 text-sm font-medium">Draft</span>
                <% elsif @competition.status == "Published" %>
                  <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Published</p>
                <% end %>
              </div>
            </div>
            <div class="mt-6 border-t border-b border-gray-200 py-6 space-y-8">
              <div>
                <h2 class="text-sm font-medium text-gray-500">Judges</h2>
                <ul role="list" class="mt-3 space-y-3">
                  <li class="flex justify-start">
                    <a href="#" class="flex items-center space-x-3">
                      <div class="flex-shrink-0">
                        <img class="h-5 w-5 rounded-full" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">
                      </div>
                      <div class="text-sm font-medium text-gray-900">Eduardo Benz</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <section aria-labelledby="activity-title" class="mt-8 xl:mt-10">
        <div>
          <% if @competition.status == "Draft" %>
            <div class="pb-4">
              <h2 class="text-lg font-medium text-gray-900">Journeys</h2>
            </div>
            <div class="pt-6">
              <%= turbo_frame_tag :competition_journeys, src: competition_journeys_path(@competition) %>
            </div>
          <% elsif @competition.status == "Published" %>
            <div class="pt-6">
              <%= turbo_frame_tag :competition_running_rounds, src: competition_running_rounds_path(@competition) %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
    <aside class="hidden xl:block xl:pl-8">
      <h2 class="sr-only">Details</h2>
      <div class="space-y-5">
        <div class="flex items-center space-x-2">
          <% if @competition.status == "Draft" %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <span class="text-yellow-700 text-sm font-medium">Draft</span>
          <% elsif @competition.status == "Published" %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
            </svg>
            <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Published</p>
          <% end %>
        </div>
      </div>
      <div class="mt-6 border-t border-gray-200 py-6 space-y-8">
        <div>
          <h2 class="text-sm font-medium text-gray-500">Judges</h2>
          <ul role="list" class="mt-3 space-y-3">
            <li class="flex justify-start">
              <a href="#" class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-5 w-5 rounded-full" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">
                </div>
                <div class="text-sm font-medium text-gray-900">Eduardo Benz</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>