<% content_for(:header) do %>
  Rounds
<% end %>

<% content_for(:actions) do %>
  <%= link_to 'New Round', new_round_path, class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Name</th>
      <th class="text-left py-2">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @rounds.each do |round| %>
    <tr class="border-t">
      <td class="py-2"><%= round.name %></td>
      <td class="py-2">
        <%= link_to 'Manage', manage_round_path(id: round.uid), class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
