<div class="pb-5 border-b border-gray-200">
  <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
    <h3 class="ml-2 mt-2 text-lg leading-6 font-medium text-gray-900">
      <%= @round.name %>
    </h3>
    <p class="ml-2 mt-1 text-sm text-gray-500 truncate"><%= @round.enrolled_dogs_count %> enrolled dogs</p>
    <% if @round.status == "open" %>
      <span class="ml-2 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
        open
      </span>
    <% elsif @round.status == "closed" %>
      <span class="ml-2 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800">
        closed
      </span>
    <% end %>
  </div>

  <% if @round.status == "open" %>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left py-2">Name</th>
          <th class="text-left py-2">Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @dogs.each do |dog| %>
        <tr class="border-t">
          <td class="py-2"><%= dog.name %></td>
          <td class="py-2">
            <% if @enrolled_dogs.find {|enrolled_dog| enrolled_dog.uid == dog.uid } %>
              <span>Enrolled</span>
            <% else %>
              <%= link_to "Enroll", enroll_dog_round_path(id: @round.uid, dog_id: dog.uid),
                {
                  data: { "turbo-method": :post },
                  class: "text-blue-500 hover:underline"
                }
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% elsif @round.status == "closed" %>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left py-2">Name</th>
          <th class="text-left py-2">Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @enrolled_dogs.each do |dog| %>
        <tr class="border-t">
          <td class="py-2"><%= dog.name %></td>
          <td class="py-2">
            <% if dog.scribing_status == "in_progress" %>
              <%= link_to "Continue scribing", scribesheet_path(dog.scribesheet_id),
                { class: "text-blue-500 hover:underline" }
              %>
            <% elsif dog.scribing_status == "finished" %>
              Scribing Finished
            <% else %>
              <%= link_to "Scribe", scribesheets_path(
                  scribesheet_id: SecureRandom.uuid,
                  round_id: @round.uid,
                  dog_id: dog.uid
                ),
                {
                  data: { "turbo-method": :post },
                  class: "text-blue-500 hover:underline"
                }
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to "Close", close_round_path(id: @round.uid), class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>