 <%= turbo_frame_tag :competition_running_rounds  do %>
  <ul role="list" class="divide-y divide-gray-200">
    <% @rounds.each do |round| %>
      <li>
        <%= link_to competition_running_round_path(round.competition_id, round.uid), class: "block hover:bg-gray-50", data: { turbo_frame: '_top' } do %>
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-indigo-600 truncate"><%= round.name %></p>
              <div class="ml-2 flex-shrink-0 flex">
                <% if round.status == "closed" %>
                  <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">Closed</p>
                <% elsif round.status == "open" %>
                  <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Open</p>
                <% end %>
              </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
              <div class="sm:flex">
                <p class="flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/users -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                  </svg>
                  Open
                </p>
              </div>
              <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
