<div class="py-8 xl:py-10">
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 xl:max-w-5xl xl:grid xl:grid-cols-3">
    <div class="xl:col-span-2 xl:pr-8 xl:border-r xl:border-gray-200">
      <div>
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:pb-6">
            <div>
              <h1 class="text-2xl font-bold text-gray-900"><%= @round.name %></h1>
              <p class="mt-2 text-sm text-gray-500">
                Open
              </p>
            </div>
            <div class="mt-4 flex space-x-3 md:mt-0">
            </div>
          </div>
          <aside class="mt-8 xl:hidden">
            <h2 class="sr-only">Details</h2>
            <div class="space-y-5">
              <div class="flex items-center space-x-2">
              </div>
            </div>
            <div class="mt-6 border-t border-b border-gray-200 py-6 space-y-8">
            </div>
          </aside>
        </div>
      </div>
      <section aria-labelledby="activity-title" class="mt-8 xl:mt-10">
        <div>
            <div class="pb-4">
              <h2 class="text-lg font-medium text-gray-900">Running Dogs</h2>
            </div>
            <div class="pt-6">
              <ul role="list" class="-my-5 divide-y divide-gray-200">
                <li class="py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate">Leonard Krasner</p>
                      <p class="text-sm text-gray-500 truncate">@leonardkrasner</p>
                    </div>
                    <div>
                      <a href="#" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50"> View </a>
                    </div>
                  </div>
                </li>

                <li class="py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate">Floyd Miles</p>
                      <p class="text-sm text-gray-500 truncate">@floydmiles</p>
                    </div>
                    <div>
                      <a href="#" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50"> View </a>
                    </div>
                  </div>
                </li>

                <li class="py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate">Emily Selman</p>
                      <p class="text-sm text-gray-500 truncate">@emilyselman</p>
                    </div>
                    <div>
                      <a href="#" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50"> View </a>
                    </div>
                  </div>
                </li>

                <li class="py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate">Kristin Watson</p>
                      <p class="text-sm text-gray-500 truncate">@kristinwatson</p>
                    </div>
                    <div>
                      <a href="#" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50"> View </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </section>
    </div>
    <aside class="hidden xl:block xl:pl-8">
      <h2 class="sr-only">Details</h2>
      <div class="space-y-5">
        <div class="flex items-center space-x-2">
        </div>
      </div>
      <div class="mt-6 border-t border-gray-200 py-6 space-y-8">
        <div>
          <h2 class="text-sm font-medium text-gray-500">Leaderboard</h2>
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left py-2">Rank</th>
                <th class="text-left py-2">Dog</th>
                <th class="text-left py-2">Score | Time</th>
              </tr>
            </thead>

            <tbody>
            <% @ranked_dogs.each do |dog| %>
              <tr class="border-t">
                <td class="py-2"><%= dog.rank %></td>
                <td class="py-2"><%= dog.name %></td>
                <td class="py-2"><%= "#{dog.score} | #{dog.dog_time}" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </aside>
  </div>
</div>
