<%= turbo_frame_tag "j_#{params[:journey_id]}_trials" do %>
  <% if @trials.empty? %>
    <p>No Trials Added Yet. <%= link_to "Add Trial", new_journey_trial_path(params[:journey_id]), class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %></p>
  <% else %>
    <% @trials.each do |trial| %>
      <div class="py-4">
        <h3 class="text-md font-normal text-gray-900"><%= trial.level.upcase %></h3>
        <%= turbo_frame_tag "t_#{trial.id}_rounds", src: trial_rounds_path(trial) %>
      </div>
    <% end %>
    <div class="pt-6">
      <%= link_to "Add Trial", new_journey_trial_path(params[:journey_id]), class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  <% end %>
<% end %>