<% content_for(:header) do %>
  Register
<% end %>


<%= form_with url: p_competition_registrations_path(params[:competition_id]), method: :post do |form| %>
  <%= form.hidden_field :registration_request_id, :value => @registration_request_id %>
  <%= form.hidden_field :handler_id, :value => SecureRandom.uuid %>

  <div class="pt-2">
    <div class="mt-4 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium text-gray-700">
          Dog
        </label>

        <div class="mt-1">
          <%= form.collection_select :dog_id, Dogs::Dog.all, :uid, :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-800 px-3 py-2 rounded-md" %>
        </div>
      </div>
    </div>
  </div>

   <div class="pt-2">
    <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium text-gray-700">
          Journeys
        </label>

        <div class="mt-1">

          <% @journeys.each do |journey| %>
            <%= form.check_box(:journey_ids, {:multiple => true}, journey.id, nil) %> <%= journey.happening_at %>

          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="pt-5">
    <div class="flex justify-start">
      <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </button>
      <%= form.submit "Submit", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
<% end %>