<h1><%= @competition.name %></h1>
<%= link_to "Register", new_p_competition_registration_path(@competition.id), class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>