<footer class="bg-gray-100" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-6 xl:gap-8">
      <div class="space-y-8 xl:col-span-3">
        <p class="text-gray-500 text-base">
          AgilityOn
        </p>
      </div>
      <div class="mt-12 grid grid-cols-1 gap-8 xl:mt-0 xl:col-span-3">
        <div class="md:grid md:grid-cols-3 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Links #1
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <%= link_to "Clubs", "#", class: "text-base text-gray-500 hover:text-gray-900" %>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Links #2
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <%= link_to "Dogs", dogs_path, class: "text-base text-gray-500 hover:text-gray-900" %>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Links #3
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <%= link_to "Rounds", "#", class: "text-base text-gray-500 hover:text-gray-900" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>