<%= turbo_frame_tag "t_#{params[:trial_id]}_rounds" do %>
  <% if @rounds.empty? %>
    <p>No Rounds Added Yet. <%= link_to "Add Round", new_trial_round_path(params[:trial_id]), class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %></p>
  <% else %>
    <p><%= @rounds.map(&:name).join(" | ") %></p>
    <div class="pt-6">
      <%= link_to "Add Round", new_trial_round_path(params[:trial_id]), class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  <% end %>
<% end %>