<!DOCTYPE html>
<html>
  <head>
    <title>Agilityon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'top_navigation' %>
    <header class="bg-white shadow">
      <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <h1 class="text-3xl font-bold text-gray-900">
            <%= yield :header %>
          </h1>
        </div>
        <div class="mt-5 flex lg:mt-0 lg:ml-4">
          <%= yield :actions %>
        </div>
      </div>
    </header>
    <main class="bg-white">
      <div class="max-w-6xl mx-auto py-6 sm:px-6 lg:px-8">
        <% if notice %>
          <p class="bg-green-200 rounded text-green-600 py-2 px-4 mb-8 font-medium text-md" id="notice">
            <%= notice %>
          </p>
        <% end %>
        <% if alert %>
          <p class="bg-red-200 rounded text-red-600 py-2 px-4 mb-8 font-medium text-md" id="alert">
            <%= alert %>
          </p>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <%= render 'footer' %>
  </body>
</html>
